body {
	background-color: #1e4872;
}

a:visited {
	color: yellow;
}

a:hover {
	color: white;
}

html body *:hover {
	color: yellow;
}
/*Purple background*/
#site-container {
	background-color: #c2b3d2;
	padding: 10px;
	margin: 10px;
	border: solid 6px #333;
}

/*Herder container, Blog container and sidebar parent*/
#content {
	max-width: 95%;
	margin: auto;
}

/*Header items*/
#header {
	margin: auto;
	background-color: #a6c1df;
	text-align: right;
	border: solid 1px #333;
}

#header h2 {
	font-size: 1.2em;
}

#header h1, #header h2 {
	margin-right: 20px;
}

/*Blog area parent*/
#blog-container {
	float: left;
	max-width: 80%;
}

/*Individual blog posts*/
.blog-post {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #edc5c6;
	border: solid 3px #333;
	text-align: justify;
	text-justify: inter-word;
	float: left;
}

.blog-post img {
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
}

.blog-post p {
		margin: 0 30px 20px 30px;
}

.blog-post .post-title {
	margin: 30px 0 0 30px;
}

/*Friends list parent*/
#sidebar {
	background-color: #ff2501;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	float: right;
	border: solid 4px #333;
}

/*Friend list text*/
#friend-container {
	max-width: 100%;
}

#friend-container h1 {
	text-align: center;
}

#friend-container ul, #friend-container li {
	padding: 0;
}

/*A float reset*/
#cleared {
	clear: both;
}

@media screen and (max-width: 1254px) {
	#blog-container{
		max-width: 73%;
	}
	#friend-container {
		max-width: 95%;
	}
}
